{% extends '::base.html.twig' %}


{% block body %}

    <h1>Welco... Bienvenido usuario</h1>
    <div style="margin-top: 50px;">
        <a href="{{ path('app_producto_lista') }}" >Listado de productos</a>
    </div>
{% endblock %}